.contact{
padding:120px 0;
text-align:center;
}

.contact-box{
background:linear-gradient(135deg,#2563eb,#7c3aed);
padding:70px;
border-radius:25px;
}

.contact h2{
font-size:48px;
margin-bottom:20px;
}

.contact p{
max-width:650px;
margin:auto;
margin-bottom:40px;
line-height:1.8;
}

.contact-links{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.contact-links a{
background:white;
color:#111827;
padding:14px 24px;
border-radius:12px;
font-weight:600;
display:flex;
gap:10px;
align-items:center;
}